body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(6, 3, 15);
    color: beige;
    text-rendering: optimizespeed;
    line-height: 2;
    font-size: 1rem;
}

.main{
    max-width: 100rem;
    margin: 50px;
    margin-top: 250px;
    margin-left: 200px;
    margin-right: 200px;

}
a{
    text-decoration: none;
}

@media (max-width: 900px) {
.main {
        max-width: 100rem;
        margin: 50px;
        margin-top: 250px;

    }
}